@import "tailwindcss";

@theme {
  --color-brand-teal: #3C6E71;
  --color-brand-slate: #284B63;
  --color-brand-dark: #353535;
  --color-brand-light: #D9D9D9;
  --color-brand-danger: #A71D31;
  --color-brand-accent: #3F0D12;
}

/* =========================================
   GLOBAL SCROLLBAR STYLING
   Applies to every scrollable area in the app
   ========================================= */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1; /* Tailwind slate-300 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8; /* Tailwind slate-400 */
}

/* THIS COMPLETELY REMOVES THE ARROWS GLOBALLY */
::-webkit-scrollbar-button {
  display: none; 
}